.signin_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  background-color: white;

  .signin_left_container {
    flex: 0.4;

    img {
      height: 700px;
      width: 600px;
      object-fit: contain;
      flex: 1;
    }
  }

  .signin_right_container {
    flex: 0.3;

    form {
      flex: 1;
    }
  }
}

.forgot_text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 4%;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: small;
}
