<!-- <div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="
      background-image: url('./assets/img/login.jpg');
      background-size: cover;
      background-position: top center;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form [formGroup]="login">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-info text-center">
                <h4 class="card-title">Log in</h4>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description text-center">Or Be Classical</p>

                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>

                    <input
                      formControlName="email"
                      placeholder="Email/Phone"
                      id="email"
                      type="text"
                      required
                      class="form-control"
                    />
                  </div>
                  <span
                    style="color: red; padding-left: 55px"
                    class="text-danger input-group"
                    *ngIf="
                      login.controls['email'].hasError('required') &&
                      (login.controls['email'].dirty ||
                        login.controls['email'].touched)
                    "
                    >This field is required</span
                  >
                  <span
                    style="color: red; padding-left: 55px"
                    class="text-danger input-group"
                    *ngIf="
                      login.controls['email'].hasError('pattern') &&
                      (login.controls['email'].dirty ||
                        login.controls['email'].touched)
                    "
                    >Please enter valid email address or phone number</span
                  >
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      formControlName="password"
                      [type]="showPassword ? 'text' : 'password'"
                      required
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i
                          class="fa"
                          [ngClass]="{
                            'fa-eye-slash': !showPassword,
                            'fa-eye': showPassword
                          }"
                          (click)="showHidePassword()"
                        ></i>
                      </span>
                    </div>
                  </div>
                  <div
                    class="errors"
                    style="color: red; padding-left: 55px"
                    *ngIf="
                      login.get('password').invalid &&
                      (login.get('password').touched ||
                        login.get('password').dirty)
                    "
                  >
                    <div
                      class="error-text"
                      *ngIf="login.get('password').errors?.required"
                    >
                      password is required
                    </div>
                    <div
                      class="error-text"
                      *ngIf="login.get('password').errors?.minlength"
                    >
                      Password must be at least 8 characters
                    </div>
                    <div
                      class="error-text"
                      *ngIf="
                        login.get('password').errors?.passwordStrength &&
                        !login.get('password').errors?.minlength
                      "
                    >
                      {{ login.get("password").errors["passwordStrength"] }}
                    </div>
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button
                  (click)="submitForm()"
                  class="btn btn-info btn-link btn-lg"
                >
                  Lets Go
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com"> Creative Tim </a>
            </li>
            <li>
              <a href="https://creative-tim.com/about-us"> About Us </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com"> Blog </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license"> Licenses </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy;
          {{ test | date: "yyyy" }}, made with
          <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank"
            >Creative Tim</a
          >
          for a better web.
        </div>
      </div>
    </footer>
  </div>
</div> -->

<div class="signin_container">
  <div class="signin_left_container">
    <img src="/assets/img/new/10130.jpg" />
  </div>

  <div class="signin_right_container">
    <form [formGroup]="login">
      <div class="card card-login card-hidden">
        <div class="card-header card-header-info text-center">
          <h4 class="card-title">Sign in</h4>
          <div class="social-line">
            <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
              <i class="fa fa-google-plus"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <span class="bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">email</i>
                </span>
              </div>

              <input
                formControlName="email"
                placeholder="Email/Phone"
                id="email"
                type="text"
                required
                class="form-control"
              />
            </div>
            <span
              style="color: red; padding-left: 55px"
              class="text-danger input-group"
              *ngIf="
                login.controls['email'].hasError('required') &&
                (login.controls['email'].dirty ||
                  login.controls['email'].touched)
              "
              >This field is required</span
            >
            <span
              style="color: red; padding-left: 55px"
              class="text-danger input-group"
              *ngIf="
                login.controls['email'].hasError('pattern') &&
                (login.controls['email'].dirty ||
                  login.controls['email'].touched)
              "
              >Please enter valid email address or phone number</span
            >
          </span>
          <span class="bmd-form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="material-icons">lock_outline</i>
                </span>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
                required
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !showPassword,
                      'fa-eye': showPassword
                    }"
                    (click)="showHidePassword()"
                  ></i>
                </span>
              </div>
              <span
                style="color: red; padding-left: 55px"
                class="text-danger input-group"
                *ngIf="
                  login.controls['password'].hasError('required') &&
                  (login.controls['password'].dirty ||
                    login.controls['password'].touched)
                "
              >
                This field is required
              </span>
            </div>
          </span>
        </div>
        <div class="card-footer justify-content-center">
          <button (click)="submitForm()" class="btn btn-info btn-lg">
            Sign in
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
