<div
  class="wrapper wrapper-full-page"
  style="
    background-size: cover;
    background-position: top center;
    background-color: white;
  "
>
  <div
    class="login-page"
    filter-color="white"
    style="background-size: cover; background-position: top center"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form [formGroup]="emailForm">
            <div class="card">
              <div class="card-header card-header-info text-center">
                <h4 class="card-title">Forgot Password</h4>
              </div>
              <br />
              <div class="text" style="color: black">
                <p style="margin-right: 5%">
                  Provide us the email id/ mobile of your account and we will
                  send you an email/otp with instructions to reset your
                  password.
                </p>
              </div>
              <div
                class="card-body"
                style="padding-left: 30px; padding-top: 0px"
              >
                <span>
                  <div class="input-group form-group">
                    <!-- <h4
                      style="
                        font-weight: 700;
                        color: black;
                        margin: 0;
                        position: relative;
                        top: 0%;
                        left: 10px;
                      "
                    >
                      Email/Mobile Number
                    </h4> -->
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input
                      (input)="ValidateEmail($event)"
                      class="form-control"
                      placeholder="Enter your Email/Mobile Number"
                      formControlName="email"
                      type="text"
                      value=""
                      [type]="fieldText ? 'text' : 'email'"
                      required
                    />
                    <span
                      style="color: red; padding-left: 55px"
                      class="text-danger input-group"
                      *ngIf="
                        emailForm.controls['email'].hasError('required') &&
                        (emailForm.controls['email'].dirty ||
                          emailForm.controls['email'].touched)
                      "
                      >This field is required</span
                    >
                    <span
                      style="color: red; padding-left: 55px"
                      class="text-danger input-group"
                      *ngIf="
                        emailForm.controls['email'].hasError('pattern') &&
                        (emailForm.controls['email'].dirty ||
                          emailForm.controls['email'].touched)
                      "
                      >Please enter valid email address or phone number</span
                    >
                  </div>
                </span>
              </div>

              <!-- <div class="justify-content-center" style="margin-bottom: 5%">
                <button class="btn btn-info btn-lg" (click)="passwordReset()">
                  Submit
                </button>
              </div> -->
              <div class="card-footer justify-content-center">
                <button
                  (click)="passwordReset()"
                  class="btn btn-info btn-lg"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
