.card {
  background: #ffffff;
  margin-top: 40%;
  width: 120%;
}

.label {
  margin-top: 4%;
}

.app-splash-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  animation: fadeIn 5s;
}

.text {
  margin-left: 10%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
