<main>
  <div class="main_conatainer">
    <div>
      <div>
        <h1>
          One stop for all<br />
          your health needs
        </h1>

        <p>
          The aim of medicine is to prevent disease and prolong <br />
          life, the ideal of medicine is to eliminate the need of a physician
        </p>
      </div>
    </div>
    <img src="/assets/img/pana.svg" style="height: 400px; object-fit: cover" />
  </div>

  <section class="row">
    <div class="container">
      <div>
        <div>
          <h1>
            Consult<br />
            Doctor Online
          </h1>
          <img src="/assets/img/circle-right.png" style="height: 50px; object-fit: cover" />
        </div>
      </div>
      <img src="/assets/img/consult.png" style="height: 200px; object-fit: cover" />
    </div>

    <div class="container2">
      <div>
        <div>
          <h1 style="margin-left: 25px; margin-top: 60px;">
            Book A Cab/Auto/Bike
          </h1>
          <p style="margin-left: 25px;"> To consult a Doctor</p>
          <a href="" style="margin-left: 200px;">
            <img src="/assets/img/circle-right.png" style="height: 50px; object-fit: cover;margin-top: -100px;" />
          </a>
        </div>
      </div>
      <img src="/assets/img/cab.png" style="height: 150px; object-fit: cover; margin-right: 25px;" />
    </div>
  </section>

  <section class="section section-lg">
    <div class="container1">
      <!-- <h2>Not sure which doctor to consult?</h2>
      <h4><span>Know more details on specialities</span></h4> -->
      <div class="align_symptoms">
        <h2>Search by Specialities</h2>
        <button class="button"><a routerLink="/physicians">Search</a></button>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12 slider-container">
          <div class="slides-container">
            <div #widgetsContent class="slides">
              <div *ngFor="let spl of specialitiesImgs">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 text-center" style="display: flex">
                  <div class="px-2">
                    <img src="{{ spl.img }}" alt="{{ spl.title }}" class="img-center img-responsive" />
                    <div class="pt-4">
                      <h5 class="title">
                        <span class="d-block mb-1 text-center">{{
                          spl.title
                          }}</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="controls">
            <button class="btn btn-neutral leftLst buttons-lft-rgt" (click)="scrollLeft()">
              <i class="fa fa-angle-left" style="font-size: 30px"></i>
            </button>
            <button class="btn btn-neutral rightLst buttons-lft-rgt" (click)="scrollRight()">
              <i class="fa fa-angle-right" style="font-size: 30px"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container1">
      <div class="align_symptoms">
        <h2>Search by Symptoms</h2>
        <!-- <button class="button">Search</button> -->
        <button class="button"><a routerLink="/symptoms">Search</a></button>
      </div>

      <!-- <h4><span>Know more details on specialities</span></h4> -->
      <div class="row mt-5">
        <div class="col-lg-12 slider-container">
          <div class="slides-container">
            <div #widgetsSymptoms class="slides">
              <div *ngFor="let sym of symptomsImgs">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 text-center" style="display: flex">
                  <div class="px-2">
                    <img src="{{ sym.img }}" class="rounded img-center shadow shadow-lg--hover" style="width: 175px" />
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">{{ sym.title }}</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="controls">
            <button class="btn btn-neutral leftLst buttons-lft-rgt" (click)="scrollLeftSymp()">
              <i class="fa fa-angle-left" style="font-size: 30px"></i>
            </button>
            <button class="btn btn-neutral rightLst buttons-lft-rgt" (click)="scrollRightSymp()">
              <i class="fa fa-angle-right" style="font-size: 30px"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container1">
      <!-- <h2>Start a Self-Check</h2> -->
      <!-- <h4><span>Answer a few questions. Know your health risks.</span></h4> -->
      <div class="align_symptoms">
        <h2>Search by Diagnosis</h2>
        <button class="button"><a routerLink="/selfcheck">Search</a></button>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12 slider-container">
          <div class="slides-container">
            <div #widgetsDiagnosis class="slides">
              <div *ngFor="let daigno of diagnosisImgs">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 text-center" style="display: flex">
                  <div class="px-2">
                    <img src="{{ daigno.img }}" alt="{{ daigno.title }}" class="img-center img-responsive"
                      style="width: 170px" />
                    <div class="pt-4 text-center">
                      <h5 class="title">
                        <span class="d-block mb-1">{{ daigno.title }}</span>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="controls">
            <button class="btn btn-neutral leftLst buttons-lft-rgt" (click)="scrollLeftDiagno()">
              <i class="fa fa-angle-left" style="font-size: 30px"></i>
            </button>
            <button class="btn btn-neutral rightLst buttons-lft-rgt" (click)="scrollRightDiagno()">
              <i class="fa fa-angle-right" style="font-size: 30px"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>