@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.main_conatainer {
    
    height: 40px;
    //display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    // box-shadow: ;
  }
  sectio

  .container1 {
    display: flex;
    flex-direction: column;
    width: 60% !important;
    margin: 0 auto;
  }

  .main_card {
    height: 220px;
    // border-radius: 5%;
    display: flex;
    padding-bottom: 1.2em;
    border: none;
    font-family: "Poppins", sans-serif;

  }

  .rounded {
    border-radius: 25px !important;
    padding: 10px;
  }

  // .button {
  //   border-radius: 10px;
  //   border: none;
  //   font-size: 10px;
  //   background-color: #16b3ac;
  //   font-family: "Poppins", sans-serif;

  // }
  $fuschia: #16b3ac;
  $button-bg: $fuschia;
  $button-text-color: #fff;
  $baby-blue: #f8faff;

  .button {
    background-image: linear-gradient(120deg, #16b3ac, #d2dc02);
    color: white;
    outline: none;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    font-size: 14px;
    padding: 10px 2em;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    color: $button-text-color;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(22, 179, 172, 0.5);
    width: fit-content;
  
    &:focus {
      outline: 0;
    }
  
    &:before,
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }
  
    &:before {
      display: none;
      top: -75%;
      background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, $button-bg 20%, transparent 30%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
        15% 15%, 10% 10%, 18% 18%;
    }
  
    &:after {
      display: none;
      bottom: -75%;
      background-image: radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, $button-bg 15%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%),
        radial-gradient(circle, $button-bg 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
        20% 20%;
      //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
  
    &:active {
      transform: scale(0.9);
      background-color: darken($button-bg, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
  
    &.animate {
      &:before {
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after {
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  .card-body {
    margin-top: -4%;
}

.button1 {
  background-color: gray;
  color: white;
  border-radius: 30px;
  width: 43%;

}
.button {
  background-color: #16b3ac;
  color: white;
  border-radius: 30px;
  width: 43%;

}
.card-text {
  margin-top: -3%;
}
hr {
  width: 83%;
  margin-right: 10%;
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  border-color: #333;
  position: absolute;
  top: 50%;
  left: -40%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 100%;
  transform: translate(-70%, -70%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
