<div class="wrapper wrapper-full-page">
    <div class="page-header login-page" filter-color="white"
      style="background-size: cover; background-position: top center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            <form class="form" method="" action="">
              <div class="card">
                <label class="label">
                  <h3 style="
                      color: black;
                      margin: 0;
                      position: relative;
                      top: 0%;
                      font-weight: 500;
                      left: 40px;
                    ">
                    Forgot Password
                  </h3>
                </label><hr>
                <div class="text"
                     style="color: black;">
                  <p style="margin-right: 5%;">Password reset link has been sent to your mail.
                    Please click the link in your email to set a new password.
                  </p>
                </div>
  
                <div class="justify-content-center" style="margin-bottom: 5%;">
                  <button style="border-radius: 5px;" mat-raised-button class="btn btn-primary">
                    <h4 style="font-weight: 400; font-size: 20px;"
                    (click)="redirectLogin()">Login</h4>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>