<!-- <p>symptoms works!</p>
<div class="SymptomSearch" id="search">
    <div class="SymptomSearch__Search">
        <img src="./consult/static/media/search.025bf9ff.svg" class="SymptomSearch__Search__Img">
    </div>
    <div class="SymptomSearch__Wrapper">
        <input class="SymptomSearch__Wrapper__Input" value="">
        <div class="SymptomSearch__Wrapper__Placeholder">
            <div class="SymptomSearch__Wrapper__Placeholder__Key">Search for: </div>
            <div class="SymptomSearch__Wrapper__Placeholder__Value">Symptoms</div>
        </div>
    </div>
</div> -->

<div class="WC_PrimarySymptom__Title">What is your concern?</div>
<div class="WC_SymptomGroup__TopBar">
    <div class="WC_SymptomGroup__TopBar__Title">Most Selected Issues
    </div>
    <div class="WC_SymptomGroup__TopBar__Divider">
    </div>
</div>

<div class="WC_SymptomGroup__Items">
    <div class="row" style="padding-left:50px">
    <button type="button" class="btn btn-outline-info btn-sm">    
    <div class="WC_SymptomPill">
        <div class="WC_SymptomPill__Image">
            <img src="/assets/img/hospital/symptoms/fever.png" class="WC_SymptomPill__Image__Img">
        </div>
        <div class="WC_SymptomPill__Name">Fever</div>
    </div>
    </button>
    <button class="btn btn-outline-info btn-sm"> 
    <div class="WC_SymptomPill">
        <div class="WC_SymptomPill__Image">
            <img src="/assets/img/hospital/symptoms/brain.png" class="WC_SymptomPill__Image__Img">
            <div class="WC_SymptomPill__Name">Acne</div>
        </div>           
        </div>
        </button>
        </div>
        <div class="row" style="padding-left:50px">
        <button class="btn btn-outline-info btn-sm">
        <div class="WC_SymptomPill">
            <div class="WC_SymptomPill__Image">
                <img src="/assets/img/hospital/symptoms/nose.png" class="WC_SymptomPill__Image__Img">
                <div class="WC_SymptomPill__Name">Runny nose</div>
            </div>
                
            </div>
        </button> 
        <!-- <button class="btn btn-neutral leftLst buttons-lft-rgt">  -->
            <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/cough.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Cough</div>
            </div>
        </button>   
        </div>
        <div class="row" style="padding-left:50px">
            <button class="btn btn-outline-info btn-sm">
                <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/headache.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">Headache</div>
                    </div>                   
                </div>
            </button> 
            <!-- <button class="btn btn-neutral leftLst buttons-lft-rgt">  -->
            <button class="btn btn-outline-info btn-sm"> 
                <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/hairfall.png" class="WC_SymptomPill__Image__Img">
                    </div>
                    <div class="WC_SymptomPill__Name">Hairfall</div>
                </div>
            </button>   
        </div>
            <!-- <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/consult/proxy/ast/ga/attachments/downloadFromDb?fileName=Symptoms/SYMP0000504.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Headache</div>
            </div>
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/consult/proxy/ast/ga/attachments/downloadFromDb?fileName=Symptoms/SYMP0000440.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Hairfall</div>
            </div>
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/consult/proxy/ast/ga/attachments/downloadFromDb?fileName=Symptoms/SYMP0019145.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Vomiting/Nausea</div>
            </div> -->
       </div>

       <div class="WC_SymptomGroup__TopBar">
            <div class="WC_SymptomGroup__TopBar__Title">Common Health Issues
            </div>
            <div class="WC_SymptomGroup__TopBar__Divider">
            </div>

      </div>
            