
<main>
<div class="main_conatainer">
</div>
</main>
<div class="container1">
<div class="WC_PrimarySymptom__Title">What is your concern?</div>
<div class="WC_SymptomGroup__TopBar">
    <div class="WC_SymptomGroup__TopBar__Title">Most Selected Issues
    </div>
    <div class="WC_SymptomGroup__TopBar__Divider">
    </div>
</div>

<div class="WC_SymptomGroup__Items">
    <div class="row" style="padding-left:50px">
    <button type="button" class="btn btn-outline-info btn-sm">    
    <div class="WC_SymptomPill">
        <div class="WC_SymptomPill__Image">
            <img src="/assets/img/hospital/symptoms/fever.png" class="WC_SymptomPill__Image__Img">
        </div>
        <div class="WC_SymptomPill__Name">Fever</div>
    </div>
    </button>
        <button class="btn btn-outline-info btn-sm"> 
          <div class="WC_SymptomPill">
            <div class="WC_SymptomPill__Image">
                <img src="/assets/img/hospital/symptoms/brain.png" class="WC_SymptomPill__Image__Img">
                <div class="WC_SymptomPill__Name">Acne</div>
            </div>           
          </div>
        </button>
        <button class="btn btn-outline-info btn-sm">
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/nose.png" class="WC_SymptomPill__Image__Img">
                    <div class="WC_SymptomPill__Name">Runny nose</div>
                </div>
                    
                </div>
            </button> 
        </div>
        <div class="row" style="padding-left:50px">
        <!-- <button class="btn btn-neutral leftLst buttons-lft-rgt">  -->
            <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/cough.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Cough</div>
            </div>
        </button>  
        <button class="btn btn-outline-info btn-sm">
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/headache.png" class="WC_SymptomPill__Image__Img">
                    <div class="WC_SymptomPill__Name">Headache</div>
                </div>                   
            </div>
        </button>  
        <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/hairfall.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Hairfall</div>
            </div>
        </button> 
        </div>
       </div>

       <div class="WC_SymptomGroup__TopBar">
            <div class="WC_SymptomGroup__TopBar__Title">Common Health Issues
            </div>
            <div class="WC_SymptomGroup__TopBar__Divider">
            </div>          
      </div>
       <div class="WC_SymptomGroup__Items">
            <div class="row" style="padding-left:50px">
            <button type="button" class="btn btn-outline-info btn-sm">    
                <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/back-pain.png" class="WC_SymptomPill__Image__Img">
                    </div>
                    <div class="WC_SymptomPill__Name">Back Pain</div>
                </div>
            </button>
            <button class="btn btn-outline-info btn-sm"> 
                <div class="WC_SymptomPill">
                        <div class="WC_SymptomPill__Image">
                            <img src="/assets/img/hospital/symptoms/high-bp.png" class="WC_SymptomPill__Image__Img">
                            <div class="WC_SymptomPill__Name">High BP</div>
                        </div>           
                    </div>
            </button>
            <button class="btn btn-outline-info btn-sm"> 
                <div class="WC_SymptomPill">
                        <div class="WC_SymptomPill__Image">
                            <img src="/assets/img/hospital/symptoms/constipation.png" class="WC_SymptomPill__Image__Img">
                            <div class="WC_SymptomPill__Name">Canstipation</div>
                        </div>           
                    </div>
            </button>
            </div>
            <div class="row" style="padding-left:50px">
                <button type="button" class="btn btn-outline-info btn-sm">    
                <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/diabetes.png" class="WC_SymptomPill__Image__Img">
                    </div>
                    <div class="WC_SymptomPill__Name">Diabetes</div>
                </div>
                </button>
                <button class="btn btn-outline-info btn-sm"> 
                <div class="WC_SymptomPill">
                        <div class="WC_SymptomPill__Image">
                            <img src="/assets/img/hospital/symptoms/gas.png" class="WC_SymptomPill__Image__Img">
                            <div class="WC_SymptomPill__Name">Gas</div>
                        </div>           
                    </div>
                </button>
                <button class="btn btn-outline-info btn-sm"> 
                <div class="WC_SymptomPill">
                        <div class="WC_SymptomPill__Image">
                            <img src="/assets/img/hospital/symptoms/throat-pain.png" class="WC_SymptomPill__Image__Img">
                            <div class="WC_SymptomPill__Name">Throat Pain</div>
                        </div>           
                    </div>
                </button>
            </div>
        </div>

    <div class="WC_SymptomGroup__TopBar">
        <div class="WC_SymptomGroup__TopBar__Title">Skin & Hair Issues</div>
        <div class="WC_SymptomGroup__TopBar__Divider"></div>          
    </div>
    <div class="WC_SymptomGroup__Items">
        <div class="row" style="padding-left:50px">
        <button type="button" class="btn btn-outline-info btn-sm">    
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/back-pain.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Back Pain</div>
            </div>
        </button>
        <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/high-bp.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">High BP</div>
                    </div>           
                </div>
        </button>
        <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/constipation.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">Canstipation</div>
                    </div>           
                </div>
        </button>
        </div>
        <div class="row" style="padding-left:50px">
            <button type="button" class="btn btn-outline-info btn-sm">    
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/diabetes.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Diabetes</div>
            </div>
            </button>
            <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/gas.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">Gas</div>
                    </div>           
                </div>
            </button>
            <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/throat-pain.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">Throat Pain</div>
                    </div>           
                </div>
            </button>
        </div>
    </div>
</div>
<!-- <div class="column">
    <img src="/assets/img/hospital/symptoms/symptoms.jpeg">
</div> -->
    <!-- <div class="WC_SymptomGroup__TopBar">
        <div class="WC_SymptomGroup__TopBar__Title">Bone & Joint Problems</div>
        <div class="WC_SymptomGroup__TopBar__Divider"></div>          
    </div>

    <div class="WC_SymptomGroup__Items">
        <div class="row" style="padding-left:50px">
        <button type="button" class="btn btn-outline-info btn-sm">    
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/elbow-pain.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Elbow Pain</div>
            </div>
        </button>
        <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/joint-pain.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">Joint Pain</div>
                    </div>           
                </div>
        </button>
        <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/neck-pain.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">Neck Pain</div>
                    </div>           
                </div>
        </button>
        </div>
        <div class="row" style="padding-left:50px">
            <button type="button" class="btn btn-outline-info btn-sm">    
            <div class="WC_SymptomPill">
                <div class="WC_SymptomPill__Image">
                    <img src="/assets/img/hospital/symptoms/diabetes.png" class="WC_SymptomPill__Image__Img">
                </div>
                <div class="WC_SymptomPill__Name">Diabetes</div>
            </div>
            </button>
            <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/gas.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">Gas</div>
                    </div>           
                </div>
            </button>
            <button class="btn btn-outline-info btn-sm"> 
            <div class="WC_SymptomPill">
                    <div class="WC_SymptomPill__Image">
                        <img src="/assets/img/hospital/symptoms/throat-pain.png" class="WC_SymptomPill__Image__Img">
                        <div class="WC_SymptomPill__Name">Throat Pain</div>
                    </div>           
                </div>
            </button>
        </div>
    </div>
             -->