<div
  class="wrapper wrapper-full-page"
  style="
    background-size: cover;
    background-position: top center;
    background-color: white;
  "
>
  <div
    class="page-header login-page"
    filter-color="white"
    style="background-size: cover; background-position: top center"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" [formGroup]="resetForm">
            <div class="card">
              <div class="card-header card-header-info text-center">
                <h4 class="card-title">Reset Password</h4>
              </div>
              <br />
              <div
                class="card-body"
                style="padding-left: 30px; padding-top: 0px"
              >
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <!-- <h4
                      style="
                        font-weight: 700;
                        color: black;
                        margin: 0;
                        position: relative;
                        top: 0%;
                        left: 10px;
                      "
                    >
                      New Password
                    </h4> -->
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control"
                      placeholder="Enter New Password"
                      [type]="fieldTextType ? 'text' : 'password'"
                      required
                    />
                  </div>
                </span>
              </div>
              <div
                class="errors"
                *ngIf="
                  resetForm.get('password').invalid &&
                  (resetForm.get('password').touched ||
                    resetForm.get('password').dirty)
                "
              >
                <div
                  style="color: red; padding-left: 85px"
                  *ngIf="resetForm.get('password').hasError('required')"
                >
                  Password is required
                </div>

                <div
                  style="color: red; padding-left: 85px"
                  *ngIf="resetForm.get('password').errors.minlength"
                >
                  Password must be at least 8 characters
                </div>

                <div
                  style="color: red; padding-left: 85px"
                  class="error-text"
                  *ngIf="resetForm.get('password').hasError('passwordStrength')"
                >
                  {{ resetForm.get("password").errors["passwordStrength"] }}
                </div>
              </div>
              <div
                class="card-body"
                style="padding-left: 30px; padding-top: 0px"
              >
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <!-- <h4
                      style="
                        font-weight: 700;
                        color: black;
                        margin: 0;
                        position: relative;
                        top: 0%;
                        left: 10px;
                      "
                    >
                      Confirm Password
                    </h4> -->
                    <input
                      type="password"
                      class="form-control"
                      formControlName="confpassword"
                      placeholder="Confirm New Password"
                      [type]="fieldTextType ? 'text' : 'confpassword'"
                      required
                    />
                  </div>
                </span>
              </div>

              <div
                class="errors"
                *ngIf="
                  resetForm.get('confpassword').invalid &&
                  (resetForm.get('confpassword').touched ||
                    resetForm.get('confpassword').dirty)
                "
              >
                <div
                  style="color: red; padding-left: 85px"
                  *ngIf="resetForm.get('confpassword').hasError('required')"
                >
                  Password is required
                </div>

                <div
                  style="color: red; padding-left: 85px"
                  *ngIf="resetForm.get('confpassword').errors.minlength"
                >
                  Password must be at least 8 characters
                </div>

                <div
                  style="color: red; padding-left: 85px"
                  class="error-text"
                  *ngIf="
                    resetForm.get('confpassword').hasError('passwordStrength')
                  "
                >
                  {{ resetForm.get("confpassword").errors["passwordStrength"] }}
                </div>
              </div>
              <div class="justify-content-center card-footer">
                <button
                  (click)="resetPassword()"
                  class="btn btn-info btn-lg"
                  type="submit"
                >
                  Update Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
