.card {
  background: #ffffff;
  /* border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  width: 120%;
  margin-top: 40%;
}

/* input {
    border: 2px solid #0d0db3;
     outline: none;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    width: 100%;
    height: 45px;
  }
  
  
  input:active,
  input:focus {
    border: 2px solid #5a8ff6;
  }
   */
/* button {
  text-transform: capitalize !important;
  width: 86% !important;
  min-width: unset !important;
  left: 9%;
  border-radius: 50px;
  height: 50px;
  color: #0b266b;
  background-color: #0b266b;
  margin-bottom: 5%;
} */

.label {
  margin-top: 5%;
  margin-left: 10%;
}

/* i {
  background-color: white;
  padding: 6px;
  border-radius: 10px;
  margin: 5px;
  color: black;
  margin-top: -14% !important;
  margin-left: 50%;
  position: relative;
  margin-top: -35px !important;
  padding-left: 260px;
  cursor: pointer;
  align-items: center;
  height: 6%;
} */

.app-splash-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
