<section class="section section-components pb-0" id="section-components">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <!-- Basic elements -->
        <h2 class="mb-5">
          <span>Basic Elements</span>
        </h2>
        <!-- Buttons -->
        <h3 class="h4 text-success font-weight-bold mb-4">Buttons</h3>
        <!-- Button styles -->
        <div>
          <c-button content="Button"></c-button>
          <c-button content="With icon" icon="ni ni-bag-17"></c-button>
          <c-button icon="ni ni-bag-17"></c-button>
          <!-- Button sizes -->
          <div class="mb-3 mt-5">
            <small class="text-uppercase font-weight-bold">Pick your size</small>
          </div>
          <c-button content="Small" size="sm"></c-button>
          <c-button content="Regular"></c-button>
          <c-button content="Large Button" size="lg"></c-button>
        </div>
        <!-- Button colors -->
        <div class="mb-3 mt-5">
          <small class="text-uppercase font-weight-bold">Pick your color</small>
        </div>
        <c-button content="Primary"></c-button>
        <c-button content="Info" severity="info"></c-button>
        <c-button content="Success" severity="success"></c-button>
        <c-button content="Warning" severity="warning"></c-button>
        <c-button content="Danger" severity="danger"></c-button>
        <c-button content="Neutral" severity="neutral"></c-button>
        <div class="mb-3 mt-5">
          <small class="text-uppercase font-weight-bold">Outline</small>
        </div>
        <c-button content="Outline-primary" [outline]="true"></c-button>
        <c-button content="Outline-info" severity="info" [outline]="true"></c-button>
        <c-button content="Outline-success" severity="success" [outline]="true"></c-button>
        <c-button content="Outline-warning" severity="warning" [outline]="true"></c-button>
        <c-button content="Outline-danger" severity="danger" [outline]="true"></c-button>
        <!-- Button links -->
        <div class="mb-3 mt-5">
          <small class="text-uppercase font-weight-bold">Links</small>
        </div>
        <c-link content="Default" severity="default"></c-link>
        <c-link content="Primary" severity="primary"></c-link>
        <c-link content="Info" severity="info"></c-link>
        <c-link content="Success" severity="success"></c-link>
        <c-link content="Warning" severity="warning"></c-link>
        <c-link content="Danger" severity="danger"></c-link>
      </div>
    </div>
  </div>
</section>
