nav {
  background-color: #00856f;
  margin-bottom: 20px;
  height: 60px;
}

span {
  color: white;
}

.logo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: white;
  text-transform: capitalize;
}
