@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

nav {
  // background-color: #00856f;
  background-color: #fff;
  margin-bottom: 20px;
  height: 60px;
  border-bottom: 1px solid lightgray;
}

span {
  color: black;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  text-transform: capitalize;
  margin-left: 10px;
  margin-right: 10px;
}

.headroom--not-top {
  background-color: #fff !important;
}

.hover__banner:hover {
  color: linear-gradient(to right, #16b3ac, #d2dc02);
  color: #16b3ac;
}
