<div class="wrapper wrapper-full-page">
    <div class="page-header login-page" filter-color="white"
      style="background-size: cover; background-position: top center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            <form class="form" method="" action="">
              <div class="card">
                <label class="label">
                  <h3 style="
                      font-weight: 500;
                      color: black;
                      margin: 0;
                      position: relative;
                      top: 50%;
                      left: 10%;
                    ">Verify Mobile
                  </h3>
                </label>
                <hr>
                <div class="text"
                     style="color: black;">
                  <p>We have sent you an OTP to your Mobile Number</p>
                </div>
                <div class="card-body" style="padding-left: 30px; padding-top: 0px">
                  <span class="bmd-form-group">
                    <div class="input-group form-group">
                      <h4 style="
                      font-weight: 700;
                      color: black;
                      margin: 0;
                      position: relative;
                      top: 0%;
                      left: 10px;">OTP</h4>
                      <input  placeholder="Please Enter Otp here to verify"
                        type="text" value="" required />
                        <span style="font-size: 13px;">Still not received OTP?</span>
                        <span style="font-size: 13px; color: blue;">Get via call</span>

                        <span style="font-size: 15px; color: blue; margin-left: 25%;">Resend Otp</span>
                    </div>
                  </span>
                </div>
  
                <div class="justify-content-center" style="margin-bottom: 5%;">
                  <button style="border-radius: 5px" 
                   mat-raised-button 
                   class="btn btn-primary"
                   (click)="submitOtp()">
                    <h4 style="font-weight: 400; 
                     font-size: 20px">Submit</h4>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>