<!-- <div class="container">
    <div class="row">
      <div class="col-md">
        <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
        <a href="">
            <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
      </div>
      <div class="col-md-6">
        <h3>Dr Raghunandan</h3>
        <h5>Dentist</h5>
        <p>10 years of experience</p>
        <h4>KPHB</h4>
        <p> ₹300 consultation fee</p>
      </div>
      <div class="col-md">
        <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
        <button>Book Visit</button>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental2.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Sravani</h3>
          <h5>Dentist</h5>
          <p>12 years of experience</p>
          <h4>Gachibowli</h4>
          <p> ₹500 consultation fee at clinic</p>
        </div>
        <div class="col-md">
            <p style="margin-top: 50%; margin-left: 25%">Available Tommorrow</p>

          <button>Book Visit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Ramesh</h3>
          <h5>General Physician</h5>
          <p>15 years of experience</p>
          <h4>KPHB</h4>
          <p> ₹300 consultation fee</p>
        </div>
        <div class="col-md">
          <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
          <button>Book Visit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Venkatesh</h3>
          <h5> General Physician</h5>
          <p>10 years of experience</p>
          <h4>KPHB</h4>
          <p> ₹300 consultation fee</p>
        </div>
        <div class="col-md">
          <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
          <button>Book Visit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Ravi Kumar</h3>
          <h5>Dermatologist</h5>
          <p>10 years of experience</p>
          <h4>KPHB</h4>
          <p> ₹300 consultation fee</p>
        </div>
        <div class="col-md">
          <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
          <button>Book Visit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Ramya</h3>
          <h5>Dermatologist</h5>
          <p>10 years of experience</p>
          <h4>KPHB</h4>
          <p> ₹300 consultation fee</p>
        </div>
        <div class="col-md">
          <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
          <button>Book Visit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Mallikarjun</h3>
          <h5>Pediatrician</h5>
          <p>10 years of experience</p>
          <h4>KPHB</h4>
          <p> ₹300 consultation fee</p>
        </div>
        <div class="col-md">
          <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
          <button>Book Visit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Sowmya</h3>
          <h5>Pediatrician</h5>
          <p>10 years of experience</p>
          <h4>KPHB</h4>
          <p> ₹300 consultation fee</p>
        </div>
        <div class="col-md">
          <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
          <button>Book Visit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Deepthi</h3>
          <h5>Ear-nose-throat (ENT) Specialist</h5>
          <p>10 years of experience</p>
          <h4>KPHB</h4>
          <p> ₹300 consultation fee</p>
        </div>
        <div class="col-md">
          <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
          <button>Book Visit</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md">
          <img width="180" height="180" style="border-radius: 30px;" src="../../assets/img/dental1.jpg" alt="">
          <a href="">
              <h6 style="color: blue; margin-top: 10px; margin-left: 40px;">View Profile</h6></a>
        </div>
        <div class="col-md-6">
          <h3>Dr Prasad</h3>
          <h5>Ear-nose-throat (ENT) Specialist</h5>
          <p>10 years of experience</p>
          <h4>KPHB</h4>
          <p> ₹300 consultation fee</p>
        </div>
        <div class="col-md">
          <p style="color: green; margin-top: 50%; margin-left: 25%">Available Today</p>
          <button>Book Visit</button>
        </div>
      </div>
      <hr>
  </div> -->
  <main>
    <!-- <div class="main_conatainer">
    </div> -->

    <section class="section section-lg">
        <div class="container1">
            <div *ngFor="let docInfo of doctorsProfile">
                <div class="card mb-2 main_card">
                    <div class="row g-0" style="padding: 20px;">
                        <div class="col-md-3 text-center">
                            <img width="150" height="150"
                            src={{docInfo.img}}
                            class="img-fluid rounded img-center shadow shadow-lg--hover "
                            />
                            <div class="pt-2">
                                <button class="button2 btn btn-info btn-sm">{{docInfo.exp}}</button>
                            </div> 
                        </div>
                        <div class="col-md-5">
                            <div class="card-body">
                            <h6 class="card-title">{{docInfo.name}}</h6>
                            <p class="card-text text-muted">{{docInfo.quali}}</p>
                            <p class="card-text">{{docInfo.prof}}</p>
                            <p class="card-text">
                                <small >{{docInfo.lang}}</small></p>
                            <p class="card-text">
                                <small >{{docInfo.fee}}</small>
                            </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body text-center">
                                <button class="button1 btn btn-gray">Know More</button>
                                <div class="pt-5">
                                    <button class="button btn btn-warning">consult Now</button>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
