<main>
  <div class="main_conatainer"></div>

  <section class="section section-lg">
    <div class="container1">
      <div class="card card-profile shadow">
        <div>
          <button class="btn btn-danger btn-lg btn-block" style="width: 100%">
            Covid-19 Self Assessment
          </button>
          <h4 class="display-6 text-center">
            Do you have any of these symptoms?
          </h4>
        </div>
        <div class="px-4">
          <div
            class="row justify-content-center surveysparrow-chat__split-layer"
            style="width: 100%"
          >
            <!-- <img src="./assets/img/hospital/Depression-01.png" /> -->

            <div class="container">
              <div class="row custom-wrapper">
                <div class="col-md-12">
                  <!-- Form starts -->
                  <form #myForm="ngForm">
                    <!-- Gender -->
                    <div class="group-gap">
                      <h5 class="mb-3">
                        <ul>
                          <li>
                            Severe difficulty breathing (struggling to breathe
                            or speak)
                          </li>
                          <li>
                            Severe chest pain Extreme fatigue (having a hard
                            time waking up or staying awake)
                          </li>
                          <li>
                            Confusion or disorientation Loss of consciousness
                          </li>
                        </ul>
                      </h5>

                      <div
                        class="d-block my-3 text-center custom-control custom-radio mb-3"
                      >
                        <div class="custom-control custom-radio">
                          <input
                            name="custom-radio-1"
                            class="custom-control-input"
                            id="customRadio1"
                            type="radio"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadio1"
                          >
                            <span>Yes</span>
                          </label>
                        </div>

                        <div class="custom-control custom-radio">
                          <input
                            name="custom-radio-1"
                            class="custom-control-input"
                            id="customRadio2"
                            checked
                            type="radio"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadio2"
                          >
                            <span>No</span>
                          </label>
                        </div>

                        <div class="invalid-feedback">
                          <p>Please select either value</p>
                        </div>
                      </div>
                    </div>
                    <div class="group-gap">
                      <h5 class="mb-3">
                        <ul>
                          <li>
                            Difficult or impossible to lie down because you’re
                            having trouble breathing
                          </li>
                          <li>
                            Unable to manage chronic health conditions because
                            you’re having trouble breathing
                          </li>
                        </ul>
                      </h5>
                      <div
                        class="d-block my-3 text-center custom-control custom-radio mb-3"
                      >
                        <div class="custom-control custom-radio">
                          <input
                            name="custom-radio-3"
                            class="custom-control-input"
                            id="customRadio3"
                            type="radio"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadio3"
                          >
                            <span>Yes</span>
                          </label>
                        </div>

                        <div class="custom-control custom-radio">
                          <input
                            name="custom-radio-3"
                            class="custom-control-input"
                            id="customRadio4"
                            checked
                            type="radio"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadio4"
                          >
                            <span>No</span>
                          </label>
                        </div>

                        <div class="invalid-feedback">
                          <p>Please select either value</p>
                        </div>
                      </div>
                    </div>
                    <div class="group-gap">
                      <h5 class="mb-3">
                        <ul>
                          <li>
                            Fever or chills, Cough Shortness of breath, Sore
                            throat, Loss or change of sense of smell or taste
                            Headache Extreme fatigue or tiredness
                          </li>
                        </ul>
                      </h5>
                      <div
                        class="d-block my-3 text-center custom-control custom-radio mb-3"
                      >
                        <div class="custom-control custom-radio">
                          <input
                            name="custom-radio-4"
                            class="custom-control-input"
                            id="customRadio5"
                            type="radio"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadio5"
                          >
                            <span>Yes</span>
                          </label>
                        </div>

                        <div class="custom-control custom-radio">
                          <input
                            name="custom-radio-4"
                            class="custom-control-input"
                            id="customRadio6"
                            type="radio"
                            checked
                          />
                          <label
                            class="custom-control-label"
                            for="customRadio6"
                          >
                            <span>No</span>
                          </label>
                        </div>

                        <div class="invalid-feedback">
                          <p>Please select either value</p>
                        </div>
                      </div>
                    </div>
                    <div class="group-gap">
                      <h5 class="mb-3">
                        <ul>
                          <li>
                            Runny nose, Sneezing, Diarrhea, Loss of appetite,
                            Nausea or vomiting Body or muscle aches, for example
                            aches or pains in your body that you don't normally
                            have
                          </li>
                        </ul>
                      </h5>
                      <div
                        class="d-block my-3 text-center custom-control custom-radio mb-3"
                      >
                        <div class="custom-control custom-radio">
                          <input
                            name="custom-radio-5"
                            class="custom-control-input"
                            id="customRadio7"
                            type="radio"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadio7"
                          >
                            <span>Yes</span>
                          </label>
                        </div>

                        <div class="custom-control custom-radio">
                          <input
                            name="custom-radio-5"
                            class="custom-control-input"
                            id="customRadio8"
                            type="radio"
                            checked
                          />
                          <label
                            class="custom-control-label"
                            for="customRadio8"
                          >
                            <span>No</span>
                          </label>
                        </div>

                        <div class="invalid-feedback">
                          <p>Please select either value</p>
                        </div>
                      </div>
                    </div>
                    <!-- Submit Button -->
                  </form>
                  <!-- Form ends -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <a routerLink="/doctors">
          <button
            type="submit"
            class="btn btn-danger btn-lg btn-block text-center"
          >
            Find Doctors
          </button></a
        >
      </div>
    </div>
  </section>
</main>
